<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applicationId</key>
	<string>8EwqAChoHrqngMahtFS4BTdkqJYioOp0XMsiNF0J</string>
	<key>clientKey</key>
	<string>Fc6QSaxn3PigILp9KSRQgI523BPfQ6P4EmDeVCEI</string>
	<key>serverURL</key>
	<string>https://parseapi.back4app.com</string>
</dict>
</plist>
